@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik+Doodle+Shadow&display=swap');

body{
  @apply dark:bg-[#222] bg-white text-black dark:text-white;
}

.brand-logo{
  font-family: "Allura";
}

@starting-style{
  
}
.techstack {
  opacity: 100%;
}