@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik+Doodle+Shadow&display=swap');

body{
  @apply dark:bg-darkBg bg-primaryBg text-dark dark:text-light;
}

/* .brand-logo{
  font-family: "Allura";
} */